<%= stylesheet_link_tag 'welcome' %>

<% if user_signed_in? %>

  <div class="row">
    <div class="col-md-3 side-bar">
      <%= image_tag current_user.image, { class: "sidebar-profile-image" } %>
      <!-- Button trigger modal for see more-->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newWishList">
        Create new wish list
      </button>
      <!-- Modal for adding to see more-->
      <div class="modal fade" id="newWishList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel">Add new wish list</h4>
            </div>
            <div class="modal-body">
              <input type="text" ng-model="newListName">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="addNewWishList()">Submit</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>

      <div ng-repeat="wish_list in wish_lists">
        <div class="wish-list-container">
          <h2 class="wish-list-name">{{ wish_list.list_name }}</h2>
          <div ng-repeat="wanted_item in wish_list.wanted_items">
            <div class="item-container">
              <hr class="item-divider">
              <span>{{ wanted_item.item.name }}</span>
              <span class="pull-right">{{ wanted_item.item.price | currency }}</span>
            </div>
          </div>
          <hr class="item-divider">
        </div>
      </div>


    </div>

    <div class="col-md-9">

      <div ng-repeat="item in items | filter:searchText">
        <div class="col-md-4 product-tile">
          <div class="inner-tile">
            <h2 class="product-name">{{ item.name }}</h2>
            <hr class="product-name-divider">
            <div class="product-mask"><img src="{{ item.image }}" alt="item image" class="item-display-image"></div>
            <p class="category-name">{{ item.category }}</p>
            <h3 class="pull-right">{{ item.price | currency }}</h3>

            <!-- Button trigger modal for see more-->
            <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#product-{{ item.id }}">
              See More
            </button>
            <!-- Modal for adding to see more-->
            <div class="modal fade" id="product-{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Product Information</h4>
                  </div>
                  <div class="modal-body">

                    <h2>{{ item.name }}</h2>
                    <h3>{{ item.category }}</h3>
                    <p>{{ item.price | currency }}</p>
                    <img src="{{ item.image }}" alt="product image">
                    <p>{{ item.description }}</p>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Button trigger modal for adding to wish list-->
            <button type="button" class="btn btn-success btn-block add-to-wish-list" data-toggle="modal" data-target="#item-{{ item.id }}">
              Add to Wish List
            </button>
            <!-- Modal for adding to wish list-->
            <div class="modal fade" id="item-{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Pick a wish list</h4>
                  </div>
                  <div class="modal-body">
                    <div ng-repeat="wish_list in wish_lists">
                      <div class="btn btn-success btn-block add-to-wish-list" ng-click="addItemToWishList(wish_list.id, item.id)">{{ wish_list.list_name }}</div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     </div>
  </div>

<% else %>

  <div class="intro-header">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h1>WishCrowd</h1>
          <hr class="intro-divider">
          <h3>Sign up or in with</h3>
          <hr class="intro-divider">
          <ul class="list-inline intro-social-buttons">
            <li>
              <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
            </li>
            <li>
              <a href="#" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
            </li>
            <li>
              <%= link_to user_omniauth_authorize_path(:facebook), {class: "btn btn-default btn-lg"} do %>
                <i class='fa fa-facebook fa-fw'></i> <span class='network-name'>Facebook</span>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

<% end %>