// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
.navbar-default {
  background-color:#778899;
  background-image:none;
}

body {
  padding-top: 50px;
}

img.navbar-profile-thumbnail {
  height: 40px;
  width: 40px;
  margin-top: 5px;
  border-radius: 5px;
}